---
stages:
  - check
  - badtest

default:
  image: ruby:latest

puppetfile:
  stage: check
  script:
    - ruby scripts/codecheck.rb Puppetfile
  rules:
    - if: $CI_PIPELINE_SOURCE =~ /(merge_request_event|push|web)/
      changes:
        - Puppetfile

puppetfile/bad:
  stage: badtest
  script:
    - ruby scripts/codecheck.rb tests/Puppetfile
  rules:
    - if: $CI_PIPELINE_SOURCE =~ /^web/